#!/usr/bin/make -f

# keep lintian happy:
build: build-arch build-indep
build-arch: build-stamp
build-indep:

build-stamp:

clean: checkdir

binary-arch:

binary-indep:
	-rm -rf debian/tmp
	install -p -d -o root -g root -m 755 debian/tmp
	install -p -d -o root -g root -m 755 debian/tmp/DEBIAN
	install -p -d -o root -g root -m 755 debian/tmp/usr/share/initramfs-tools/conf.d
	install -p -d -o root -g root -m 755 debian/tmp/usr/share/initramfs-tools/scripts
	install -p -d -o root -g root -m 755 debian/tmp/usr/share/initramfs-tools/scripts/panic
	install -p -d -o root -g root -m 755 debian/tmp/usr/share/initramfs-tools/hooks
	install -p -d -o root -g root -m 755 debian/tmp/usr/share/initramfs-tools/res
	install -p -d -o root -g root -m 755 debian/tmp/usr/share/initramfs-tools/res/images
	install -p -d -o root -g root -m 755 debian/tmp/usr/sbin
	install -p -o root -g root -m 644 conf/halium debian/tmp/usr/share/initramfs-tools/conf.d/halium
	install -p -o root -g root -m 644 images/debian.png debian/tmp/usr/share/initramfs-tools/res/images/debian.png
	install -p -o root -g root -m 644 scripts/geminipda debian/tmp/usr/share/initramfs-tools/scripts/geminipda
	install -p -o root -g root -m 755 scripts/panic/telnet debian/tmp/usr/share/initramfs-tools/scripts/panic/telnet
	install -p -o root -g root -m 755 hooks/halium debian/tmp/usr/share/initramfs-tools/hooks/halium
	install -p -o root -g root -m 755 debian/postinst debian/tmp/DEBIAN/
	install -p -o root -g root -m 755 usr/sbin/update-gemian-boot-image debian/tmp/usr/sbin/update-gemian-boot-image
	dpkg-gencontrol
	dpkg --build debian/tmp ..

binary:         binary-arch binary-indep

override_dh_auto_test:
	@set -e; for f in etc/initramfs/post-update.d/* hooks/* scripts/panic/telnet scripts/geminipda usr/sbin/*; do \
	    echo "Checking sh syntax of $$f"; \
	    sh -n $$f; \
	done

checkdir:
	@test -f debian/rules

checkroot: checkdir
	@test 0 = `id -u` || { echo "Error: not super-user"; exit 1; }

.PHONY: binary binary-arch binary-indep clean checkroot checkdir build build-arch build-indep
